/** VOS $VARIABLES Sass ici avant l'importation**/
// Exemple de variable
$couleurH0:#f8eaa9;
$couleurH1:#cbad67;
$couleurH2:#9f582a;
$couleurH3:#635958;
$couleurH4:#2d1101;
$couleurH5:hsl(40, 86%, 86%);



/*** Importation de Boostrap **/
@import "partials/bootstrap";

/*** Début des styles personnalisés ***/
// Exemple de style personnalisé  

// Accéssibilité au cas où.
.texte-pour-lecteur {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

body{
    background-color: $couleurH5;
    margin: 0 auto;
}

header{
    background-color: $couleurH2;


    .boutton-header{
        margin-top: 6.5em;
    }
    
    .btn{
        
        background-color: $couleurH4;
        color: $couleurH0;
    }
}

img{
    max-width: 100%;
}

.flex-de{
    display: flex;
    justify-content: space-between;
}


.bg-navbar{
        background-color: $couleurH0;
        border-bottom: 3.5px solid $couleurH4;
        border-top: 3.5px solid $couleurH4;
        font-size: 20px;
}

footer{
    background-color: $couleurH2;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    .con-1{
        p{
            color: $couleurH0;
            font-size: 25px;
        }        
    }
    
    .carte{

        border-bottom:2px solid $couleurH1;
        
        > div{

            background-color: $couleurH0;
            
            
            border-radius: 10%;
            box-shadow: 5px 5px 10px $couleurH4;
            img{
                margin-top: 15px;
                height: 60px;
                width: 60px;
            }
            p{
                margin-top: 10px;
            }
            a {
            text-decoration: none;
            color: $couleurH4;
            font-size: 13px;
            &:hover{
                text-decoration: underline;
            }
            }
    
        }

        + div p{
            margin-top: 15px;
        }
       

    }
    
}


@media screen and ( max-width: 768px ) {
    .flex-de{
        flex-direction: column;
        .boutton-header{
            margin-top: 0;
        }
    }
}   