/*** Importation de Bootstrap ***/
@import "partials/bootstrap";

/*** Styles personnalisés ***/

// Accessibilité
.texte-pour-lecteur {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

body {
    background-color: $couleurH5;
    margin: 0 auto;
}

header {
    background-color: $couleurH2;

    .btn {
        background-color: $couleurH4;
        color: $couleurH0;
    }
}

img {
    max-width: 100%;
}

.bg-navbar {
    background-color: $couleurH0;
    border-bottom: 3.5px solid $couleurH4;
    border-top: 3.5px solid $couleurH4;
}



footer {
    background-color: $couleurH2;
    text-align: center;
    padding: 15px 0;

    h2 {
        color: $couleurH0;
        font-size: 25px;
    }

    .carte {
        border-bottom: 2px solid $couleurH1;

        > div {
            background-color: $couleurH0;
            border-radius: 10%;
            box-shadow: 5px 5px 10px $couleurH4;
            padding: 10px;
            text-align: center;

            img {
                margin-top: 15px;
                height: 60px;
                width: 60px;
            }

            p {
                margin-top: 10px;
            }

            a {
                text-decoration: none;
                color: $couleurH4;
                font-size: 13px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .boutton-soumettre .btn{
        width: 100%;
    }
}

